
<div class="content" role="main">

  <div class="card highlight-card">

    <div class='login_form'>
      <h1>Please login:</h1><br />                            
      <label><h4>Username (Email):</h4></label>
      <input type='email' class='log_input' id='log_user' [(ngModel)]="log_user" placeholder="johndoe@mail.com">
      
      <label><h4>Password:</h4></label>
      <input type='password' class='log_input'  id='log_pwd' [(ngModel)]="log_pwd">
      <br /><br />

      <button id='login_submit' (click)='submitLogin()'>Login</button>
  
    </div>

  </div>


</div>


<router-outlet></router-outlet>
